body {
    background-color: #CDCEDE;
}

h1 a,h2 a,h3 a {
    color: #2E31F1;
    font-family: 'Pacifico';
}

span {
    size: 10px;
    color: #BEBEF2;
    font-family: 'Pacifico';
}
span e1{
    size: 10px;
    padding: 3px;
    color: #BBC6CF;
    background-color: gray;
    border-radius: 5px;
    font-family: 'Pacifico';
}

h1 a:hover,h2 a:hover,h3 a:hover {
    color: #88B4DA;
    font-family: 'Pacifico';
}
.page-header {
    background-color: #9D9EEF;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
}
.grid-container {
  display: grid;
  gap : 20px 30px;
  grid-template-columns: auto auto;
}
.grid-item {
  margin: auto;
  border: 3px solid #5C5EAF;
  border-radius: 25px;
  background-color: #9D9EEF;
}
.grid-item img {
  margin-top: 5px;
  margin-bottom: 5px;
}
.grid-item button {
   margin-bottom: 5px;
}
 h2 {
   padding-bottom: 10px;
}